<h2>Tourist List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>From Place</th>
            <th>Number of days</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tourist of tourists">
            <td>{{tourist.id}}</td>
            <td>{{tourist.firstName}}</td>
            <td>{{tourist.lastName}}</td>
            <td>{{tourist.age}}</td>
            <td>{{tourist.gender}}</td>
            <td>{{tourist.fromPlace}}</td>
            <td>{{tourist.numberOfdays}}</td>


        </tr>
    </tbody>
</table>