<img src="assets/image/hotel1.jpg" class="bg">
<nav class="navbar navbar-expand-lg " style="color:black">
 
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">

      <a routerLink="home" routerLinkActive="active"  class="nav-link">Home</a>
    </li>
    
    <li class="nav-item">

      <a routerLink="tourist" routerLinkActive="active"  class="nav-link" >Register Tourist</a>
    </li>
    
    <li class="nav-item">
      <a routerLink="touristlist" routerLinkActive="active"  class="nav-link">View</a>
    </li>
    
  </ul>
</nav>



<div class="container" class="content-body">
  <router-outlet></router-outlet>
</div>


